@import '../orders/orders.css';

.profile-form {
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}
.profile-form input[type="text"],
.profile-form input[type="email"] {
  padding:0.5rem;
  border-radius:6px;
  border:1px solid #ddd;
}
