/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #82C91E; /* Verde Q-LESS para evitar espacios en blanco */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
